{
  "bot": {
    "nick": "WBS",
    "user": "wbs",
    "realname": "WBS IRC Bot",
    "servers": [
      {"host": "irc.example.com", "port": 6667, "password": null}
    ],
    "channels": ["#channel", "#channel2"]
  },
  "users": [
    {
      "handle": "owner",
      "password": "changeme",
      "hosts": ["owner!user@host.example.com"],
      "access": [
        {"is_admin": 1}
      ]
    },
    {
      "handle": "user2",
      "password": "changeme2",
      "hosts": ["user2!user2@another.example.com"],
      "access": [
        {"is_op": 1, "channel": "#randomchannel", "subnet": 1}
      ]
    }
  ],
  "subnet": {
      "id": "1",
      "name": "default"
  },
  "db": {
    "path": "db/wbs.db"
  },
  "logging": {
    "level": "INFO",
    "file": "logs/wbs.log"
  },
  "settings": {
    "botnet": false,
    "listen_port": 3333,
    "seen": false,
    "auto_update": false,
    "irc_throttle_ms": 100
  }
}
